@font-face {
    font-family: 'poppins';
    src: url('../Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'sairab';
    src: url('../SairaExtraCondensed-Bold.ttf');
}

@font-face {
    font-family: 'sairam';
    src: url('../SairaExtraCondensed-Medium.ttf');
}
